
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">

                     

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                                    <div class="avatar-title rounded bg-soft-primary text-primary">
                                        <i class="icon-sm" data-feather="watch"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Smart Watch Series 5</a></h5>
                                    <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>5.0</p>
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col-7">
                                    <h6 class="mb-1 font-size-15">300k <span class="text-muted font-size-13 ml-1">Product</span></h6>
                                    <a href="#" class="h6 font-weight-normal text-muted">$250.00 - $650.00</a>
                                </div>
                                <!-- end col-->
                                <div class="col-5">
                                    <div>
                                        <div class="apex-charts" id="sparkline-chart-1"></div>
                                    </div>
                                </div>
                                <!-- end col-->
                            </div>
                            <!-- end row-->
                        </div>
                    </div>
                </div>
                <!-- end col-->

                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                                    <div class="avatar-title rounded bg-soft-primary text-primary">
                                        <i class="icon-sm" data-feather="headphones"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Boot Headphones 10X</a></h5>
                                    <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>4.9</p>
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col-7">
                                    <h6 class="mb-1 font-size-15">80k <span class="text-muted font-size-13 ml-1">Product</span></h6>
                                    <a href="#" class="h6 font-weight-normal text-muted">$36.00 - $75.00</a>
                                </div>
                                <!-- end col-->
                                <div class="col-5">
                                    <div>
                                        <div class="apex-charts" id="sparkline-chart-2"></div>
                                    </div>
                                </div>
                                <!-- end col-->
                            </div>
                            <!-- end row-->
                        </div>
                    </div>
                </div>
                <!-- end col-->

                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                                    <div class="avatar-title rounded bg-soft-primary text-primary">
                                        <i class="icon-sm" data-feather="monitor"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Smart Led Screen</a></h5>
                                    <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>5.0</p>
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col-7">
                                    <h6 class="mb-1 font-size-15">90k <span class="text-muted font-size-13 ml-1">Product</span></h6>
                                    <a href="#" class="h6 font-weight-normal text-muted">$160.00 - $720.00</a>
                                </div>
                                <!-- end col-->
                                <div class="col-5">
                                    <div>
                                        <div class="apex-charts" id="sparkline-chart-3"></div>
                                    </div>
                                </div>
                                <!-- end col-->
                            </div>
                            <!-- end row-->
                        </div>
                    </div>
                </div>
                <!-- end col-->

                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="media align-items-center">
                                <div class="avatar-sm mr-3 p-1 border rounded border-soft-primary">
                                    <div class="avatar-title rounded bg-soft-primary text-primary">
                                        <i class="icon-sm" data-feather="camera"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 font-size-15"><a href="#" class="text-dark">Canon Lbp 2900b</a></h5>
                                    <p class="text-muted mb-0"><i class="icon-xxs icon text-warning icon-fill-warning mr-2" data-feather="star"></i>4.8</p>
                                </div>
                            </div>
                            <div class="row align-items-center mt-4">
                                <div class="col-7">
                                    <h6 class="mb-1 font-size-15">120k <span class="text-muted font-size-13 ml-1">Product</span></h6>
                                    <a href="#" class="h6 font-weight-normal text-muted">$500.00 - $1200.00</a>
                                </div>
                                <!-- end col-->
                                <div class="col-5">
                                    <div>
                                        <div class="apex-charts" id="sparkline-chart-4"></div>
                                    </div>
                                </div>
                                <!-- end col-->
                            </div>
                            <!-- end row-->
                        </div>
                    </div>
                </div>
                <!-- end col-->
            </div>
            <!-- end row-->
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Drezon.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-right d-none d-sm-block">
                        Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://themesbrand.com/" target="_blank" class="text-reset">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- end main content-->
